<div>
  let's render some dates.
  
  <%= render :partial => "layouts/date" %>
  <%= render :partial => "layouts/date" %>
  <%= render :partial => "layouts/date" %>
  <%= render :partial => "layouts/date" %>
  <%= render :partial => "layouts/date" %>
</div>